.container{
	width:80%;
	height:auto;
	color:#302936;
	margin:auto;
}

.article{
	position: absolute;
	margin:auto;
	left:10%;
	width:80%;
}

#courseImage{
	width:275px;
	height:275px;
}

#code{
	line-height: 10px;
}

.return{
	color:#302936;
	position: absolute;
	left:0px;
	top:100px;
}

ul, li {
	list-style-type: none;
}