.container{
	width:100vw;
	overflow-x:hidden;
}

.article{
	position: absolute;
	margin:auto;
	left:10%;
	width:80vw;
}

#courseImage{
	width:275px;
	height:275px;
}

#code{
	line-height: 10px;
}

.return{
	position: absolute;
	left:0px;
	top:100px;
}

ul, li {
	list-style-type: none;
}