.article{
	position: absolute;
	margin:auto;
	left:10%;
	width:80%;
	border-width: 0px 2px 0px 2px;
}

#courseImage{
	width:275px;
	height:275px;
}
code{
	background-color: rgb(220,220,220);
	text-align: left;
	left:0;
}